body {
	background-color: #77B7D0;
}

h1 {
	text-align: center;
	font-size: 100px;
	color: white;
	font-family: 'Quicksand', sans-serif;
}

.contactNav {
	color: white;
	font-family: 'Quicksand', sans-serif;
}
.topTele {
	float: left;
	text-align: center;
}

.topEmail {
	float: right;
	text-align: right;

}
.navigation {
	text-align: center;
	margin-bottom: 50px;
}

.navigation ul {
	list-style: none;
}

.navigation ul li {
	font-size: 30px;
	color: white;
	font-family: 'Quicksand', sans-serif;	
	display: inline;	
	padding: 0 30px;																
}

a:hover {
	color: #317A96;
}

.mainimgbg {
	position: absolute;
    width: 100%;
    height: 68%;
}

h2 { 
   position: absolute;  
   bottom:20%;
   left: 25%; 
   width: 50%; 
   color: white;
   font-size: 60px;
   font-family: 'Libre Baskerville', serif;
   text-align: center;
}

.indexText {
	clear: left;
	text-align: center;
}
.active {
	font-weight: bolder;
}

a {
	text-decoration: none;
	color: white;
}

h3 {
	color: white;
	font-size: 40px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

h4 {
	color: white;
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

.central {
	width: 900px;
	margin: 0 auto;
}

.container {
	width: 40%;
    height: 200px;
    margin: auto;
    padding: 10px;
}

img {
	max-height: 100%;
	max-width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.one {
	width: 40%;
    height: 100%;
    float: left;
    margin-left: 5%;
}

.two {
	margin-left: 5%;
	height: 100%;
	width: 40%;
	float: right;
}

.news {
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	text-align: center;
}
.blogIntro {
	color: #317A96;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

.blogTitle {
	color: white;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 35px;
	border-bottom: none;
}

.blogDate {
	font-family: 'Quicksand', sans-serif;
	text-align: right;
	color:  #e9e9e9;

}

.blogContent {
	color: white;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}