body {
	background-color: #77B7D0;
}

h1 {
	text-align: center;
	font-size: 100px;
	color: white;
	font-family: 'Poiret One', cursive;
}

p {
	color: #317A96;
	font-size: 10px;
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	
}

textarea {
	display: block;
 	padding: 10px;
  	margin: 0 30% 2% 20%;
  	width : 60%;
  	height: 20%;
  	resize: none;
  	overflow: auto;
}

input {
	display: block;
 	padding: 10px;
  	margin: 0 30% 2% 20%;
  	width: 60%;
}

label {
	margin: 0 0 0 20%;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	color:#317A96;
}

.navigation {
	text-align: center;
	margin-bottom: 50px;
}

.navigation ul {
	list-style: none;
}

.navigation ul li {
	font-size: 30px;
	color: white;
	font-family: 'Quicksand', sans-serif;	
	display: inline;	
	padding: 0 30px;																
}

a:hover {
	color: #317A96;
}

.mainimgbg {
	position: absolute;
    width: 100%;
    height: 68%;
}

h2 { 
   position: absolute;  
   bottom:20%;
   left: 25%; 
   width: 50%; 
   color: white;
   font-size: 60px;
   font-family: 'Libre Baskerville', serif;
   text-align: center;
}

.indexText {
	clear: left;
	text-align: center;
}
.active {
	font-weight: bolder;
}

a {
	text-decoration: none;
	color: white;
}

h4 {
	color: white;
	font-size: 19px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

.central {
	width: 900px;
	margin: 0 auto;
}

.container {
	width: 40%;
    height: 200px;
    margin: auto;
    padding: 10px;
}

img {
	max-height: 100%;
	max-width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.one {
	width: 40%;
    height: 100%;
    float: left;
    margin-left: 5%;
}

.two {
	margin-left: 5%;
	height: 100%;
	width: 40%;
	float: right;
}

.news {
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	text-align: center;
}
.intro {
	color: #317A96;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

.blogTitle {
	color: white;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 35px;
	border-bottom: none;
}

.blogDate {
	font-family: 'Quicksand', sans-serif;
	text-align: right;
	color:  #e9e9e9;

}

.blogContent {
	color: white;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

button {
	margin: 0 0 0 75%;
	border-radius: 5px;
	background-color:#317A96;
	color: white;
	border: none;
	font-family: 'Quicksand', sans-serif;
	font-size:15px;
}

button:hover {
	background-color:#4E91AB;
}

.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 299px;
	height: 183px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.hover13 {
	width: 975px;
    margin: 0 auto 3% auto;

}.hover13 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover13 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.map {
	height: 450px;
	width: 600px;
	margin: 0 auto;
}